node_modules/
dist/
/coverage/
artifacts/
*.log
.DS_Store
eslint-plugin-eslint-plugin/node_modules/
eslint-plugin-eslint-plugin/dist/
typescript-eslint/node_modules/
typescript-eslint/.nx/
typescript-eslint/dist/
typescript-eslint/tmp/
typescript-eslint/coverage/
